<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml" xml:lang='en' lang='en'>
	<head>
		<meta charset='utf-8'/>
		<link rel='stylesheet' type='text/css' href='typeplate.css'/>
		<link rel='stylesheet' type='text/css' href='style.css'/>
		<link rel='stylesheet' type='text/css' href='print.css' media='print'/>
		<meta name="generator" content="kramdown <%= ::Kramdown::VERSION %>" />
		<title>Git collaboration guide</title>
	</head>
	<body>
		<%= @body %>
	</body>
</html>
