body {
	margin-left: auto;
	margin-right: auto;
	width: 45em;
}

h1, h2, h3 {
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        -o-hyphens: none;
        hyphens: none;
}

h1 {
	margin-top: 1em;
	margin-bottom: 1em;
}

pre {
	color: rgb(200,200,200);
	background-color: black;

	padding: 1em;

	margin-bottom: 2em;
}

span.cmdline {
	color: white;
	font-weight: bold;
}

span.cmdline span.prompt {
	color: rgb(200,200,200);
}

a[href^="http"] {
	font-family: monospace;
}

a[href^="http://git-scm.com"] {
	font-family: inherit;
	color: inherit;
	text-decoration: inherit;
}

/* Automatic chapter numbering */

body {
	counter-reset: chapter;
}

h2:before {
	counter-increment: chapter;
	content: counter(chapter) ".\0000a0";
}

h2.no_toc:before {
	counter-increment: none;
	content: none;
}

/* This is free software released into the public domain (CC0 license). */
